<html>
<head>
	<title>Skynet</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "foundation", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

</head>
<body class=bg>
<div style="margin-top:250px">
<div class="row">
<div class="tstyle">
  <%= image_tag("skylogo.png")  %>
</div>
</div>
<div class="row">
<div class="tstyle">
  <h3 style="color:#ffffff">Skynet</h3>
</div>
</div>
<div class="row">
  <div  class="three columns push-five" style="margin-left:-35px">
    <input type="text" placeholder="Username">
  </div>
</div>
 <div class="row">
   <div class="three columns push-five" style="margin-left:-35px">
     <input type="text" placeholder="Password">
   </div>
 </div>
<div class="row">
   <div class="three columns push-five " style="margin-left:-35px">
     <a class="button" style="width:207px;background-color:#FFE87C;color: #000000" href="#">Login</a>
   </div>
 </div>
</div>







</body>
</html>
<script>
  $('#signin').bind ('click', function () {
     $('#balaji').show();
     return false;
  });
</script>

